<div class="panel panel-primary">
  <div class="panel-header">
    <h4>Employee Listing</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Employee #</th>
          <th>Employee Photo</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Brirthday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <!--
        <tr *ngFor="let employee of employees | async">
          <td>{{ employee.humanNumber }}</td>
          <td>{{ employee.photo }}</td>
          <td>{{ employee.emailId }}</td>
          <td>{{ employee.lastName }}</td>
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.middleName }}</td>
          <td>{{ employee.birthday }}</td>
        
          <td><button (click)="employeeDelete(employee.id)"mat-raised-button class="btn btn-danger">{{ deleteButton }}</button></td>
          <td><button (click)="employeeDetails(employee.id)" mat-raised-button class="btn btn-info">{{ detailsButton }}</button></td>
        -->
          <td>1970-05-21</td>
          <td>

          </td>
          <td>ALQUIZA</td>
          <td>Erwin</td>
          <td>Lazo</td>
          <td>21-05-1970</td>
          <td></td>
          <td></td>
        <td><button mat-raised-button class="btn btn-danger">{{ deleteButton }}</button></td>
        <td><button mat-raised-button class="btn btn-info">{{ detailsButton }}</button></td>        
        </tr>
      </tbody>
    </table>
  </div>
</div>